body {
    font-family: 'Inspiration', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.flexible-container {

    display: flex;
    margin-bottom: 150px;
}

.half-with {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.orenge-color {
    color: orange;
}

.header-section {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    /* text-align: center; */
}

.header-div {
    width: 50%;
    margin: 5px;
    padding: 20px;
}

.fast-text {
    text-align: left;
    padding-left: 40px;
}

.header-image {
    width: 70%;
    height: 40%;
    text-align: center;

}

.hireme-buttom {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 5px;
}

.image1 {
    height: 500px;

}

/*  */

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-image {
    width: 70%;
    height: 40%;
    text-align: left;
}

.image2 {
    height: 500px;
}

.text-2nd {
    text-align: left;
    padding-right: 80px;
}

/*  */


.experienc-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experient-item {
    box-shadow: 10px 10px 50px gray;
    border-radius: 10px;
    /* padding-left: 5px;
   
    margin-left: 10px;
    margin-right: 10px; */
    padding-right: 5px;

}

.orenge-broder {
    border-left: 6px solid rgb(255, 51, 0);
}

.blue-broder {
    border-left: 6px solid rgb(68, 0, 255);
}

.exper-h1 {
    padding-left: 70px;
}

/*  */
footer p {
    text-align: center;
}