body {
    font-family: 'Inspiration', cursive;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.flexible-container {

    display: flex;
    margin-bottom: 150px;
}

.half-with {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.orenge-color {
    color: orange;
}

.header-section {

    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.header-div {
    width: 50%;
    margin: 5px;
    padding: 20px;
}

.header-image {
    width: 70%;
    height: 40%;
    text-align: center;

}

.hireme-buttom {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 5px;
}

.image1 {
    height: 500px;

}

/*  */

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/*  */


.experienc-area {}